.btn-medium {
  color: #f4f4f4;
  border: 2px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: bold;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #FF5722;
  border: 2px solid #FF5722;
}
